include ../avatar/avatar

mixin history-messages(img, name, message, time, status, owner)
    -var margin = owner === "in" ? 'right' : 'left'

    section(class=`msg-item ${owner === "in" ? 'message-in' : 'message-out' }`)
        +avatar(img, margin)
        .msg-item__name= name
        .msg-item__message= message
        .msg-item__time= time
        .msg-item__status
            div(class=`status-message is-${status}`) 
        .msg-item__menu Выпадающее меню сообщения