mixin input(type, name, value, label, placeholder)      
    section.input&attributes(attributes)
        label( id="label" for=name )= label
        input( id=name type=type name=name value=value placeholder=placeholder required)